@charset "utf-8";
/* CSS Document */

body {
	background-color: #F5D9D9;
	}

form {
	color:#2B2B2B;
	font-size:16px;
	width:360px;
	margin:auto;
	margin-top:100px;
	border:1px;
	border-radius:10px;
	padding:20px;
	box-shadow:0 0 7px black;
}

#inputEmail3:focus, #inputPassword3:focus {
	box-shadow:0 0 7px #df6769;
	border-color:#DF6769;
	font-size:16.5px;
	
}

#inputEmail4:focus, #inputPassword4:focus {
	font-size:16.5px;
	
}

#inputEmail4, #inputEmail3 {
	margin-top:20px;
	width:300px;
}

#inputPassword3, #inputPassword4 {
	width:300px;
}

img {
	border-radius:10px;
	margin-bottom:15px;
}

h3 {
	padding-bottom:15px;
}

.redWar {
	color:#EC1014;
	//border:1px #FFAAAB solid;
	border-radius:10px;
	display:inline;
	padding:6px;
	margin-bottom:10px;
	
}



